body {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  box-shadow: none;
  background-color: #FC466B;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}

/* Sidebar menu */

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}

.sidebarMenuInner {
  margin-top: 60px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.openSidebarMenu:checked~#sidebarMenu {
  transform: translateX(0);
}

.openSidebarMenu {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.openSidebarMenu:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

.openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

.openSidebarMenu:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Cards page */

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 60px auto 20px;
  padding: 90px 0 0 0;
}

.card {
  position: relative;
  display: inline-block;
  margin: 20px 20px;
  width: 310px;
  height: 255px;
  text-align: center;
  border-radius: 5px;
  background-position-y: -125px;
  background-repeat: no-repeat;
  transition: .3s ease-out;
}

.card_playing {
  width: 310px;
  height: 207px;
}

.card_playing .rotate-button {
  display: none;
}

.card_main-page {
  height: 310px;
  box-shadow: 0 5px 10px -5px #010101;
  background-image: linear-gradient(180deg, #63e2ff, #FC466B);
}

.card_main-page_play-mode {
  /* background-image: linear-gradient(0deg, #51dd19, #51dd19); */
  background-image: linear-gradient(180deg, #51dd19 0%, #f3f722 100%);
  /* box-shadow: 0 5px 20px -5px #010101; */
}

.card:hover {
  cursor: pointer;
}

.card__title {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #b960e9;
}

.card__front .card__title {
  font-style: italic;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__image_main-page {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px auto;
  border: 10px solid white;
  border-radius: 50%;
}

.card__front, .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  transition: transform .5s ease;
  box-shadow: 0 5px 10px -5px #010101;
}

.card__front {
  transform: perspective(600px) rotateY(180deg);
}

.card__back {
  transform: perspective(600px) rotateY(0);
}

.card:hover .card__front.rotatable {
  transform: perspective(600px) rotateY(0deg);
}

.card:hover .card__back.rotatable {
  transform: perspective(600px) rotateY(-180deg);
}

.card__footer_play-mode {
  display: none;
}

.rotate-button {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(/../assets/img/repeat.svg) no-repeat;
}

.rotate-button:hover {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.rotate-button:focus {
  outline: 0;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #ffda05;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  transition: .3s ease-out;
  text-transform: uppercase;
  /* text-shadow: 0 0 15px #000; */
  letter-spacing: 2px;
  color: #03afc2;
}

.button_to-main-page, .button_start-game {
  /* margin: 35px 0 0 35px; */
  width: 280px;
  height: 40px;
}

.button__container {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.button_training-mode {
  display: none;
}

.button_to-main-page:hover {
  background-color: #fff349;
  box-shadow: 0 1px 3px #949494;
}

/* .button_game-mode {
  box-shadow: 0 1px 3px #949494;
} */

.button_game-mode {
  position: absolute;
  top: 8px;
  right: 15px;
}

.button_to-main-page {
  position: absolute;
  top: 10px;
  left: 55px;
}

.toggle-button {
  position: relative;
  top: 50%;
  width: 130px;
  height: 43px;
  overflow: hidden;
}

.toggle-button.r, .toggle-button.r .layer {
  border-radius: 100px;
}

.game-mode_checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.toggle-button .knobs:before, .toggle-button .knobs:after {
  position: absolute;
  top: 4px;
  left: 10px;
  width: 102px;
  height: 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.8em;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 25px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.toggle-button .knobs:before {
  content: 'Train';
}

.toggle-button .knobs:after {
  content: 'Play';
}

.toggle-button .knobs:after {
  top: -36px;
  right: 11px;
  left: auto;
  background-color: #51dd19;
}

.game-mode_checkbox:checked+.knobs:before {
  top: -36px;
}

.game-mode_checkbox:checked+.knobs:after {
  top: 4px;
}

.game-mode_checkbox:checked~.layer {
  background-color: #fcebeb;
}

.image-blocker {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.star {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 57px;
  height: 57px;
}

.stars-block {
  position: absolute;
  top: 95px;
  width: 100%;
  height: 57px;
}

.star_correct {
  background: url(/../assets/img/star-win.svg) no-repeat;
}

.star_incorrect {
  background: url(/../assets/img/star.svg) no-repeat;
}

.result {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
}

.result-image_failure {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff url(/../assets/img/failure.jpg) no-repeat center;
}

.result-image_win {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff url(/../assets/img/success.jpg) no-repeat center;
}

.result-statistic {
  position: relative;
  top: 5%;
  color: #1465cf;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  z-index: 1;
}